.main-bg {
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-collor);
}
.white-bg {
    background: var(--white-collor);
    color: var(--primary-collor);
}
.main-content {
    max-width: 120rem;
    margin: 0 auto;
}

.especial-section {
    min-height: 100vh;
}

.menu-spacing {
    height: 65px;
}